@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Raleway&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

@media (max-width: 600px) {
  /*ESTILOS PARA MOBILE*/
  body {
    background-color: #fadb76; }
  h1 {
    font-size: 32px;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif; }
  nav {
    background-color: #adadad59; }
  .menu {
    font-size: 16px; }
  .menu ul li {
    padding: 5px; }
  .logo img {
    display: none; }
  main {
    margin: 10px; } }

@media (min-width: 992px) {
  /*ESTILOS PARA DESKTOP*/
  body {
    background-image: url("/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 105%; }
  h1 {
    margin: 30px auto;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: 64px; }
  .menu {
    font-size: 20px; }
  .menu ul li {
    padding: 10px; }
  .logo img {
    padding: 8px;
    width: 80px;
    margin-left: 15px; } }

/*ESTILOS PARA AMBAS DISPOSICIONES*/
body {
  font-family: 'Raleway', sans-serif; }

nav {
  padding: 0.5rem;
  width: auto;
  height: 100px;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 15px; }
  .menu ul {
    list-style-type: none; }
    .menu ul ul {
      position: absolute;
      display: none; }

.menu ul ul li {
  display: block; }

.menu ul li {
  display: inline-block; }
  .menu ul li a {
    text-decoration: none; }

.menu ul li:hover ul {
  display: block;
  background-color: #4f57a3; }
